= simple_form_for @post do |f|

  - if @post.errors.any?
    %h2
      = pluralize(@post.errors.count, "error")
      prohibited this mark from being saved:
    %ul
      - @post.errors.full_messages.each do |message|
        %li
          = message

  %div.form-top
    %div.form-left
      = f.label :title, required: false
      = f.text_field :title, autofocus: true
    %div.form-right
      = f.label :category_id, required: false
      = f.collection_select :category_id, Category.all, :id, :name, {prompt: "Choose a Category"}

  = f.label :content, required: false
  = f.text_area :content

  = f.submit "Submit"