- if user_signed_in?
  = link_to "New Post", new_post_path

- @posts.each do |post|
  = image_tag post.user.avatar.url(:thumb)
  %h2= link_to post.title, post
  %p
    Posted
    = time_ago_in_words(post.created_at)
    ago by
    = post.user.username
    in

  //category to go here

  %h2
    - if post.comments.count == 1 
      = post.comments.count
      %span Reply
    - else
      = post.comments.count
      %span Replies 

  %hr

= will_paginate @posts, previous_label: "Previous", next_label: "Next", inner_window: 1, outer_window: 0