%section.hero
  %div.container.hero-inner
    %h1.huge
      Discussions

%section.forum-header
  %div.container
    %h2.large
      Welcome to the discussions forum. Get help &amp; advice on Excercise, Nutrition &amp; Mobilty.
    %span
      - if !user_signed_in?
        = link_to "Join the Team", join_path,
          { :class => "button" }

%section.forum-content
  %div.container
        
    %div.forum-posts
      %div.nine.forum-posts-container

        - if @posts.size > 0

          - @posts.each do |post|
            %div.single-post-container
              %div.user-image
                = image_tag post.user.avatar.url(:thumb)
              %div.forum-post
                %h2= link_to post.title, post
                %p
                  %em
                    Posted
                    = time_ago_in_words(post.created_at)
                    ago by
                    %strong
                      = post.user.username
                    in
                    %strong
                      = post.category.name

              %div.forum-replies
                %p
                  - if post.comments.count == 1
                    = post.comments.count
                    %span Reply
                  - else
                    = post.comments.count
                    %span Replies 

              %hr

          = will_paginate @posts, previous_label: "Previous", next_label: "Next", inner_window: 1, outer_window: 0

        - else
          = render partial: "no_posts"

    %div.category-sidebar
      %div.three.category-container
        %span
          - if user_signed_in?
            = link_to "New Post", new_post_path,
              { :class => "button" }
        %nav
          %span
            = link_to "All Topics", root_path, class: "#{active(root_path)}"
          %hr 
          - Category.all.each do |category|
            %span
              = link_to category.name, posts_path(category: category.name), class: "#{active(posts_path(category: category.name))}"
            %hr