= link_to "Back to Forum", root_path

- if @post.user == current_user
  = link_to "Edit", edit_post_path(@post)

= image_tag @post.user.avatar.url(:thumb)

%h1= @post.title

%p
  Posted
  = time_ago_in_words(@post.created_at)
  ago by
  = @post.user.username
  in

  //add category here

%h2
  - if @post.comments.count == 1 
    = @post.comments.count
    %span Reply
  - else
    = @post.comments.count
    %span Replies

%p= @post.content

%h2
  - if @post.comments.count == 1 
    = @post.comments.count
    %span Reply
  - else
    = @post.comments.count
    %span Replies

%hr

= render @post.comments

%h3 Add a Reply

%hr

= image_tag current_user.avatar.url(:thumb)

= render "comments/form"

