%div.forum-show
  %div.container
    %div.nine
      %div.post-nav

        = link_to "Back to Forum", root_path, :class => 'back icon-arrow-left2'

        %div.edit-container
          - if @post.user == current_user || current_user.try(:admin?)
            = link_to "Edit", edit_post_path(@post), :class => 'edit'

          - if current_user.try(:admin?)
            = link_to " Delete", post_path(@post), method: :delete, data: { confirm: "Are you sure you want to do this?"}, :class => 'delete'

      %div.post-container
        %div.user-image
          = image_tag @post.user.avatar.url(:thumb)

        %div.post
          %h1= @post.title

          %p.meta
            %em
              Posted
              = time_ago_in_words(@post.created_at)
              ago by
              %strong
                = @post.user.username
              in
              %strong
                = @post.category.name

          %div.post-body-text
            = markdown(@post.content).html_safe

      - if @post.comments.count > 0
        %div.replies-container

          %h2
            - if @post.comments.count == 1 
              = @post.comments.count
              Reply
            - else
              = @post.comments.count
              Replies

          %hr

          = render @post.comments

      %div.reply-form
        %h3 Add a Reply

        - if user_signed_in?
          = render "comments/form"
        - else
          %p 
            You need to 
            %strong Sign In 
            or 
            %strong Sign Up 
            before you can add a reply.
          %div.reply-buttons-container
            %span
              = link_to "Sign in", sign_in_path,
              { :class => "button" }
            %span
              = link_to "Sign up", join_path,
              { :class => "button" }
