%div.forum-show
  %div.container
    %div.nine
      %div.post-nav

        = link_to "Back to Forum", root_path, :class => 'back'

        %div.edit-container
          - if @post.user == current_user
            = link_to "Edit", edit_post_path(@post), :class => 'edit'

          - if @post.user == current_user
            = link_to " Delete", edit_post_path(@post), :class => 'delete'

      %div.post-container
        %div.user-image
          = image_tag @post.user.avatar.url(:thumb)

        %div.post
          %h1= @post.title

          %p.meta
            %em
              Posted
              = time_ago_in_words(@post.created_at)
              ago by
              %strong
                = @post.user.username
              in
              %strong
                = @post.category.name

          %div.post-body-text
            = markdown(@post.content).html_safe

      - if @post.comments.count > 0
        %div.replies-container

          %h2
            - if @post.comments.count == 1 
              = @post.comments.count
              Reply
            - else
              = @post.comments.count
              Replies

          %hr

          = render @post.comments

      %div.reply-form
        %h3 Add a Reply

        = render "comments/form"

